<!DOCTYPE html>
<html>
    <head>
        <title>Results page</title>
    </head>
    <body>
        <h1>Results</h1>
        <h3><%= myBoo %></h3>
        <h3><%= myGithub %></h3>
        <h3><%= JSON.stringify(myData, null, 2) %></h3>
    </body>
</html>